.hello-table {

	border-top: none;

	th {
		color: #555;
		font: 700 .75em 'Quicksand', sans-serif;
		text-transform: uppercase;
		border-top: none;
	}

	td {
		vertical-align: middle;
		font: 700 .85em 'Quicksand', sans-serif;
	}

	small {
		font: 700 .85em 'Quicksand', sans-serif;
	}
}

.hello-table-action {
	text-align: center;
	border-left: #eee 2px solid;
	
	a, button {
		cursor: pointer;
		opacity: .5;
		@include transition(opacity .2s ease-in-out);
		&:hover, &:active, &:focus { opacity: 1; }
	}
}

.hello-table-no-wrap {
	white-space: nowrap;
}